.main {
    width: 100% - 300px;
    box-shadow: 2px 2px 2px -6px rgba(0,0,0,0.51);
    -webkit-box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px 29px 26px -6px rgba(192, 133, 133, 0.51);
}

.sticky {
    padding-top: 12px;
    padding-bottom: 12px;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 2px 2px 2px -6px rgba(0,0,0,0.51);
    -webkit-box-shadow: 2px 2px 26px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px 29px 26px -6px rgba(192, 133, 133, 0.51);
}

.myBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 16px;
}

.menuBtn {
    font-weight: bold;
    padding: 8px;
    margin-bottom: 8px;
    border: 0;
    background-color: aliceblue;
    color: #212020;
    border-radius: 1.5rem;
}

.menuBtn:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.shoppingCartIcon {
    width: 48px;
}

.shoppingCartText {
    color: #ff8000;
    font-weight: bold;
}

.DiningCat {
    max-width: 100% - 300px;
}

.foodImg {
    height: 200px;
    width: 1400px;
    object-fit: cover;
}

.food {
    margin: 16px;
    padding-left: 16px;
    border: 1.5px solid;
    border-color: #a6a3a3;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}

.orderBtn {
    cursor: pointer;
    background-color: white;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 0;
}

.orderBtnImg {
    width: 36px;
}

.order {
    position: sticky;
    top: 0;
    min-width: 472px;
    height: 100vH;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

.basket {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.cart {
    padding-left: 16px;
    width: 360px;
    border: #bfbdbd solid .5px;
    margin: 8px;
}

.orderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.r16 {
    padding-right: 16px;
}

.plusBtn {
    background-color: #ff8000;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    border-radius: 2rem;
}

.deliveryPrice {
    display: flex;
    justify-content: space-between;
}

.impressum,
.datenschutz,
.agb {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.bold {
    font-weight: bold;
}

.none {
    text-decoration: none;
    color: #ff8000;

}

.none:hover {
    cursor: pointer;
    font-size: 18px;
}